.content {
  padding: 9rem 9rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--txt);
  font-size: 2.3rem;
  font-weight: 500;
  padding-top: 10px;
}

.subtitle {
  margin-top: .5rem;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px
}

.purple {
  color: var(--txt-secondary);
}
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 12px; // space between svg and text
  text-decoration: none;
}


@media (max-width: 925px) {
  .content {
    padding: 9rem 3rem 1rem;
  }
}
